APP_NAME="Curso Básico de Manejo de Datos en Laravel con Eloquent ORM"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=project_manager
DB_USERNAME=root
DB_PASSWORD=secret

VITE_APP_NAME="${APP_NAME}"
