<section>
  <header>
    <h1>
      Hello <span>{{ title() }}</span> 🧪
    </h1>
  </header>
  <main>
    <p>
      We're <span>{{ (getPrivateWord() + " ").repeat(3) }}</span> happy that you
      visit us.
    </p>
    <h2>To-Do</h2>
    <ul>
      <li *ngFor="let task of tasks">
        <span>{{ task }}</span>
      </li>
    </ul>
    <p>
      There are <span>{{ 2 + 1 }}</span> pending tasks.
    </p>
    <h2>
      Scientist <span>{{ scientist().name }}</span>
    </h2>
    <img [src]="scientist().avatar" alt="{{ scientist().name }} avatar" />
    <div>
      <input type="number" [value]="scientist().age" />
      <button [disabled]="scientist().canUpdateAge">Update age</button>
    </div>
    <h2>Actions (open the console)</h2>
    <p>🖱 Click & double click</p>
    <button (click)="handleClick()">Click me</button>
    <button (dblclick)="handleClick()">Click me twice</button>
    <p>⌨ Change</p>
    <input type="number" value="1" (change)="handleChange($event)" />
    <p>⌨ Keydown</p>
    <input
      type="text"
      [value]="scientist().name"
      (keydown)="handleKeydown($event)"
    />
    <input
      type="text"
      placeholder="Press Shift + h"
      (keydown.shift.h)="handleKeydownWithShortcut()"
    />
    <h2>Signals</h2>
    <p>
      Title: <span>{{ title() }}</span>
    </p>
    <input
      type="text"
      [value]="title()"
      (keyup)="handleKeyupWithSignal($event)"
    />
    <h2>Conditionals (ngIf)</h2>
    <p
      *ngIf="
        scientist().name === 'pepito' && scientist().age >= 18;
        else underageBlock
      "
    >
      <span>I'm pepito</span> and I'm <span>of age</span>
    </p>
    <ng-template #underageBlock>
      <p><span>I am not pepito</span> or I'm <span>underage</span></p>
    </ng-template>
    <input
      type="number"
      [value]="scientist().age"
      (change)="changeAge($event)"
    />
    <h2>Conditionals (ngSwitch & ngSwitchDefault)</h2>
    <p>
      I'm
      <ng-container [ngSwitch]="scientist().name">
        <span *ngSwitchCase="'pepito'">pepito</span>
        <span *ngSwitchCase="'jaimito'">jaimito</span>
        <span *ngSwitchDefault="">... Who am I?</span>
      </ng-container>
    </p>
    <input
      type="text"
      [value]="scientist().name"
      (keyup.enter)="changeName($event)"
    />
    <h2>Reactive forms</h2>
    <p>
      Color: <span>{{ colorControl.value }}</span>
    </p>
    <input type="color" [formControl]="colorControl" />
  </main>
</section>
