<div class="p-6 bg-gray-50 relative rounded shadow">
  <button
    type="button"
    class="absolute top-3 right-3 focus:outline-none p-2"
    (click)="this.dialogRef.close()"
  >
    <fa-icon [icon]="faClose" />
  </button>
  <div class="flex space-x-2 mb-5">
    <fa-icon [icon]="faCheckToSlot" />
    <div class="flex flex-col">
      <h3 class="text-lg font-semibold">HU03: Create components for the UI</h3>
      <p class="text-sm text-gray-800">in list To Do</p>
    </div>
  </div>
  <div class="flex w-full gap-4">
    <div class="flex space-x-2 mb-5 w-4/6">
      <fa-icon [icon]="faBars" />
      <div class="flex flex-col">
        <h3 class="text-lg font-semibold">Description</h3>
        <p class="text-sm text-gray-800">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis,
          hic? Adipisci soluta cum odio, beatae ratione magni nobis, optio
          similique rerum minus excepturi sed vel, id voluptatibus repellendus
          numquam quod.
        </p>
      </div>
    </div>
    <div class="flex flex-auto space-y-2 flex-col">
      <app-button typeBtn="button" color="default">
        <fa-icon [icon]="faUser" />
        Members
      </app-button>
      <app-button typeBtn="button" color="default">
        <fa-icon [icon]="faTag" />
        Labels
      </app-button>
      <app-button typeBtn="button" color="default">
        <fa-icon [icon]="faCheckSquare" />
        Checklist
      </app-button>
      <app-button typeBtn="button" color="default">
        <fa-icon [icon]="faClock" />
        Dates
      </app-button>
    </div>
  </div>
</div>
