<div class="flex flex-col h-screen">
  <app-navbar />
  <div class="w-full grow bg-white p-6">
    <table cdk-table [dataSource]="products">
      <ng-container cdkColumnDef="id">
        <th cdk-header-cell *cdkHeaderCellDef>Id</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container cdkColumnDef="cover">
        <th cdk-header-cell *cdkHeaderCellDef>Price</th>
        <td cdk-cell *cdkCellDef="let row">
          <img class="w-16" [src]="row.images[0]" [alt]="row.title" />
        </td>
      </ng-container>

      <ng-container cdkColumnDef="title">
        <th cdk-header-cell *cdkHeaderCellDef>Title</th>
        <td cdk-cell *cdkCellDef="let row">{{ row.title }}</td>
      </ng-container>

      <ng-container cdkColumnDef="price">
        <th cdk-header-cell *cdkHeaderCellDef>Price</th>
        <td cdk-cell *cdkCellDef="let row">${{ row.price }}</td>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: columns"></tr>
    </table>
  </div>
</div>
