<div class="flex flex-col h-screen">
  <trello-navbar />
  <div class="w-full grow bg-light-700 px-4 pb-4">
    <div class="flex flex-col h-full">
      <div>
        <h2 class="text-xl font-bold text-white my-4">Demo Board</h2>
      </div>
      <div
        class="flex items-start grow w-full h-full gap-8 overflow-x-scroll"
        cdkDropListGroup
      >
        @for (column of columns; track $index) {
        <div class="rounded bg-gray-200 w-72 p-2 shrink-0">
          <div class="flex justify-between py-1">
            <h3 class="text-sm font-bold ml-2">{{ column.title }}</h3>
          </div>
          <div
            class="text-sm mt-2 min-h-[2.5rem]"
            cdkDropList
            [cdkDropListData]="column.tasks"
            (cdkDropListDropped)="drop($event)"
          >
            @for (task of column.tasks; track task.id) {
            <div
              cdkDrag
              class="bg-white shadow p-2 rounded mt-2 border-b border-x-gray-300 cursor-pointer hover:bg-gray-100"
              (click)="openTaskDialog(task)"
            >
              {{ task.title }}
            </div>
            }
          </div>
        </div>
        }
        <div class="rounded bg-gray-200 w-72 p-2 shrink-0">
          <div class="flex justify-between py-1">
            <h3 class="text-sm font-bold ml-2">Create new column</h3>
          </div>
          <div class="text-sm mt-2 min-h-[2.5rem]">
            <div class="mb-2">
              <input
                type="text"
                class="w-full rounded"
                [(ngModel)]="newColumnTitle"
              />
            </div>
            <button trelloButton color="primary" (click)="addNewColumn()">
              Add
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
