<nav class="bg-primary-800 border-gray-200 px-6 shadow-md">
  <div class="flex flex-wrap justify-between items-center">
    <div class="flex items-center">
      <a routerLink="/">
        <img
          loading="lazy"
          class="w-20 mr-8"
          src="/assets/images/logo/logo-gradient-white-trello.png"
          alt="Logo"
        />
      </a>
      <div class="flex items-center">
        <ul class="flex items-center space-x-8 text-sm font-medium">
          <li>
            <a class="block py-3 px-4 text-white">Workspaces</a>
          </li>
          <li>
            <a class="block py-3 px-4 text-white">Recent</a>
          </li>
          <li>
            <app-button btnType="button" color="light">Create</app-button>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex items-center gap-x-4">
      <button class="text-white" type="button">
        <fa-icon [icon]="faBell"></fa-icon>
      </button>
      <button class="text-white" type="button">
        <fa-icon [icon]="faInfoCircle"></fa-icon>
      </button>
      <button
        type="button"
        class="flex rounded-full"
        aria-expanded="false"
        (click)="isOpen = !isOpen"
        cdkOverlayOrigin
        #profileMenuOverlay="cdkOverlayOrigin"
      >
        <img
          class="w-8 h-8 rounded-full"
          src="https://api.lorem.space/image/face?w=400&h=400"
          alt="User profile picture"
        />
      </button>
    </div>
  </div>
</nav>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="profileMenuOverlay"
  [cdkConnectedOverlayOpen]="isOpen"
>
  <div
    class="z-50 my-4 w-60 divide-y text-base list-none rounded bg-white shadow border border-gray-200"
  >
    <div class="py-3 px-4 flex justify-between">
      <span class="block w-full text-sm text-center text-gray-900">
        Account
      </span>
      <button (click)="isOpen = !isOpen" class="block text-sm text-gray-900">
        <fa-icon [icon]="faXmark"></fa-icon>
      </button>
    </div>
    <div class="py-3 px-4 flex items-center space-x-4">
      <img
        class="w-10 h-10 rounded-full"
        src="https://api.lorem.space/image/face?w=400&h=400"
        alt=""
      />
      <div class="space-y-1">
        <div>Jese Leos</div>
        <div class="text-sm text-gray-500">jese.leos&commat;gmail.com</div>
      </div>
    </div>
    <ul class="py-1">
      <li>
        <a
          href="#"
          class="block py-2 px-4 text-sm hover:bg-primary-800 hover:text-white"
        >
          Profile
        </a>
      </li>
      <li>
        <a
          href="#"
          class="block py-2 px-4 text-sm hover:bg-primary-800 hover:text-white"
        >
          Activity
        </a>
      </li>
      <li>
        <a
          href="#"
          class="block py-2 px-4 text-sm hover:bg-primary-800 hover:text-white"
        >
          Cards
        </a>
      </li>
      <li>
        <a
          href="#"
          class="block py-2 px-4 text-sm hover:bg-primary-800 hover:text-white"
        >
          Settings
        </a>
      </li>
    </ul>
    <ul class="py-1">
      <li>
        <a href="#" class="block py-2 px-4 text-sm">Log out</a>
      </li>
    </ul>
  </div>
</ng-template>
