<section class="grid grid-cols-3">
  <app-product
    title="Product example 1"
    [price]="1000"
    image="https://cataas.com/cat?width=640&height=640&r=1"
  />
  <app-product
    title="Product example 2"
    [price]="2000"
    image="https://cataas.com/cat?width=640&height=640&r=2"
  />
  <app-product
    title="Product example 3"
    [price]="3000"
    image="https://cataas.com/cat?width=640&height=640&r=3"
  />
  <app-product
    title="Product example 4"
    [price]="4000"
    image="https://cataas.com/cat?width=640&height=640&r=4"
  />
  <app-product
    title="Product example 5"
    [price]="5000"
    image="https://cataas.com/cat?width=640&height=640&r=5"
  />
</section>
