<div class="w-screen h-screen bg-white sm:bg-gray-100 relative">
  <div class="absolute w-full h-full hidden sm:block">
    <img
      loading="lazy"
      class="absolute w-60 lg:w-96 left-0 bottom-0"
      src="/assets/svg/login-bg-left.svg"
      alt="Background illustration"
    />
    <img
      loading="lazy"
      class="absolute w-60 lg:w-96 right-0 bottom-0"
      src="/assets/svg/login-bg-right.svg"
      alt="Background illustration"
    />
  </div>
  <div class="relative w-full sm:w-7/12 md:w-6/12 lg:w-4/12 m-auto">
    <header class="pt-6 pb-2 flex justify-center">
      <img
        class="w-56"
        src="/assets/images/logo/logo-gradient-blue-trello.png"
        alt="Logo"
      />
    </header>
    <div class="bg-white rounded shadow py-4 px-6">
      <h1 class="text-center font-semibold py-4">Log In to Trello</h1>
      <form novalidate class="mb-4">
        <div class="mb-2">
          <input
            type="text"
            placeholder="Enter your email"
            class="w-full rounded bg-gray-100 border-2 border-gray-300"
          />
        </div>
        <trello-button btnType="submit" color="primary">Log In</trello-button>
      </form>
      <div
        class="mb-4 flex justify-center items-center space-x-0 space-y-2 md:space-x-2 md:space-y-0 flex-col md:flex-row"
      >
        <a routerLink="/forgot-password" class="text-blue-600 font-light">
          Can't log in?
        </a>
        <span class="text-gray-500 hidden md:block">•</span>
        <a routerLink="/register" class="text-blue-600 font-light">
          Sign up for an account
        </a>
      </div>
      <hr class="border-b-1 border-r-gray-300" />
      <div class="flex justify-center">
        <img
          loading="lazy"
          class="w-32 mt-4"
          src="/assets/images/logo/logo-atlassian-gray.png"
          alt="Footer logo"
        />
      </div>
    </div>
  </div>
</div>
