<app-navbar />
<div class="container mx-auto flex mt-10">
  <div class="w-1/5 mr-4">
    <ul class="flex flex-col font-medium">
      <li>
        <a class="block bg-primary-100 rounded py-1 px-3 text-primary-700">
          <fa-icon [icon]="faTrello" /> Boards
        </a>
      </li>
      <li>
        <a class="block py-1 px-3"> <fa-icon [icon]="faBox" /> Templates</a>
      </li>
      <li>
        <a class="block py-1 px-3"> <fa-icon [icon]="faWaveSquare" /> Home</a>
      </li>
    </ul>
    <cdk-accordion>
      <cdk-accordion-item #boardMenuAccordion="cdkAccordionItem">
        <button
          class="w-full py-1 px-2 flex justify-between items-center"
          type="button"
          (click)="boardMenuAccordion.toggle()"
        >
          My workspace
          <fa-icon
            [icon]="boardMenuAccordion.expanded ? faAngleUp : faAngleDown"
          />
        </button>
        <div [style.display]="boardMenuAccordion.expanded ? '' : 'none'">
          <ul class="ml-2 flex flex-col text-sm">
            <li>
              <a class="block py-1 px-3">
                <fa-icon [icon]="faTrello" /> Boards
              </a>
            </li>
            <li>
              <a class="block py-1 px-3">
                <fa-icon [icon]="faHeart" /> Highlights
              </a>
            </li>
            <li>
              <a class="block py-1 px-3">
                <fa-icon [icon]="faBorderAll" /> Views
              </a>
            </li>
            <li>
              <a class="block py-1 px-3">
                <fa-icon [icon]="faUsers" /> Members
              </a>
            </li>
            <li>
              <a class="block py-1 px-3">
                <fa-icon [icon]="faGear" /> Settings
              </a>
            </li>
          </ul>
        </div>
      </cdk-accordion-item>
    </cdk-accordion>
  </div>
  <div class="w-full">
    <h1 class="text-lg font-bold mb-4">
      <fa-icon [icon]="faClock" /> Recently viewed
    </h1>
    <div class="grid grid-cols-4 gap-4">
      <div
        class="w-full bg-sky-700 px-4 py-2 rounded text-white font-bold h-24"
      >
        Board 1
      </div>
      <div
        class="w-full bg-green-700 px-4 py-2 rounded text-white font-bold h-24"
      >
        Board 1
      </div>
      <div
        class="w-full bg-amber-700 px-4 py-2 rounded text-white font-bold h-24"
      >
        Board 1
      </div>
      <div
        class="w-full bg-indigo-700 px-4 py-2 rounded text-white font-bold h-24"
      >
        Board 1
      </div>
    </div>
  </div>
</div>
