<div class="w-screen h-screen bg-gray-100 relative">
  <div class="absolute w-full h-full">
    <img
      class="absolute w-4/12 left-0 bottom-0"
      src="/assets/svg/login-bg-left.svg"
      alt="Illustration left"
    />
    <img
      class="absolute w-4/12 right-0 bottom-0"
      src="/assets/svg/login-bg-right.svg"
      alt="Illustration right"
    />
  </div>
  <div class="relative w-4/12 m-auto">
    <header class="pt-6 pb-2 flex justify-center">
      <img
        class="w-56"
        src="/assets/images/logo/logo-gradient-blue-trello.png"
        alt="Logo"
      />
    </header>
    <div class="bg-white rounded shadow py-4 px-6">
      <h1 class="text-center font-semibold pt-4 pb-8">Log In to Trello</h1>
      <form novalidate class="space-y-4">
        <div class="relative">
          <input
            type="text"
            placeholder="Enter your email"
            class="w-full rounded bg-gray-100 border-2 border-gray-300"
          />
        </div>
        <button
          type="submit"
          class="text-white w-full py-2 px-5 font-medium rounded text-sm bg-blue-700"
        >
          Log In
        </button>
      </form>
    </div>
  </div>
</div>
